<% content_for :heading, 'Home' %>

<p>
  Welcome to the CUADC Membership System!
  Click a link below to get started.
</p>

<ul>
  <li><%= link_to "Manually add a new member", new_member_path %></li>
  <li><%= link_to "List existing members", members_path %></li>
  <li><%= link_to "Check a show on Camdram", camdram_shows_path %></li>
  <li><%= link_to "Generate a ballot list for elections, AGMs and/or SGMs", ballot_list_members_path %></li>
  <li><%= link_to "Generate email addresses for email list subscription", mailing_list_members_path %></li>
  <li><%= link_to "List pending email verifications", pending_verifications_members_path %></li>
  <li><%= link_to "List pending signups", pending_signups_members_path %></li>
  <li><%= link_to "List pending Camdram associations", camdram_associations_needed_members_path %></li>
  <li><%= link_to "List pending membership cards", cards_needed_members_path %></li>
</ul>

<p>
  While the Member records here are to be treated as definitive and canonical,
  the accompanying text and guidance is provided on a best-effort basis. It is
  believed to be wholly accurate at the time of writing, however full deference
  should be given to the Club's Constitution. When in doubt, the Constitution
  takes precedence.
</p>

<p>
  The infrastructure and code running this system is owned and operated by
  <a href="https://charliejonas.co.uk/">Charlie Jonas</a> on behalf of CUADC.
  Please contact <%= mail_to 'sysop@membership.cuadc.org' %> if you experience
  issues or encounter discrepancies in the database. Bug reports and new feature
  requests are also warmly welcomed!
</p>

<p>
  Application code last updated: <%= Membership::Version.git_date %>
</p>
