<% content_for :heading, 'Ballot List' %>

<p>
  This page lists all Ordinary Members with unexpired or lifetime subscription.
  Only those listed here are eligible to vote at or count towards a quorum of
  an AGM, SGM, ballot or election.
</p>
<p>
  Note however that the Constitution does allow <b>all</b> Members of the Club
  (including Associate, Special or Honorary members) to attend and speak at General
  Meetings. Please check the <%= link_to 'list of all members', members_path %> to
  for that, making sure that their subscription has not expired.
</p>
<p>
  Please use ctrl+F (cmd+F on Mac) to search this page from your web browser.
</p>

<table class="table table-condensed table-bordered table-hover">
  <thead>
    <%= content_tag :tr do %>
      <%= content_tag(:th, 'Full Name') %>
      <%= content_tag(:th, 'CRSid') %>
      <%= content_tag(:th, 'Graduation Year') %>
      <%= content_tag(:th, 'Expiry Date') %>
    <% end %>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <%= content_tag :tr do %>
        <%= content_tag(:td, link_to(member.name, member)) %>
        <%= content_tag(:td, member.crsid) %>
        <%= content_tag(:td, member.graduation_year) %>
        <%= content_tag(:td, expiry_text(member)) %>
      <% end %>
    <% end %>
  </tbody>
</table>
