<% content_for :heading, 'Ballot List' %>

<p>
  Use this page to cross-check members who wish to vote at AGMs and SGMs.
  Any Member may attend these meetings but only Ordinary Members may vote.
  This page lists all current Ordinary Members whose membership has not yet expired or which is valid for life.
  Please use ctrl+F (cmd+F on Mac) to search this page from your web browser.
</p>

<table class="table table-condensed table-bordered table-hover">
  <thead>
    <%= content_tag :tr do %>
      <%= content_tag(:td, 'Full Name') %>
      <%= content_tag(:td, 'CRSid') %>
      <%= content_tag(:td, 'Graduation Year') %>
      <%= content_tag(:td, 'Expiry Date') %>
    <% end %>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <%= content_tag :tr do %>
        <%= content_tag(:td, link_to(member.full_name, member)) %>
        <%= content_tag(:td, member.crsid) %>
        <%= content_tag(:td, member.graduation_year) %>
        <%= content_tag(:td, member.expiry) %>
      <% end %>
    <% end %>
  </tbody>
</table>
