<% content_for :heading, 'Membership Cards' %>

<p>
  This page lists members who have signed up recently and need their
  membership cards issuing. You should regularly check this page and
  write out membership cards for the individuals listed here, leaving
  them in the pigeon holes in the Management Corridor at the ADC Theatre.
</p>
<p>
  When you click the 'Card Issued' button you will be prompted for
  confirmation, after which the member will be sent an email telling
  them that their card is ready for collection.
</p>

<table class="table table-condensed table-bordered table-hover">
  <thead>
    <%= content_tag :tr do %>
      <%= content_tag(:th, 'Name') %>
      <%= content_tag(:th, 'Expiry') %>
      <%= content_tag(:th, 'Card Issued') %>
    <% end %>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <%= content_tag :tr do %>
        <%= content_tag(:td, link_to(member.name, member)) %>
        <%= content_tag(:td, member_expiry(member)) %>
        <%= content_tag(:td, link_to('Card Issued', issue_card_member_path(member.id), class: 'btn btn-primary', data: { confirm: 'Are you sure?' }, method: :post)) %>
      <% end %>
    <% end %>
  </tbody>
</table>
