<% content_for :heading, 'Member List' %>

<p>
  This page lists all members of the society, including those who have graduated,
  those whose membership has expired and those who have been suspended or banned.
  It should <b>not</b> be used for AGMs, SGMs, ballots or elections; please use
  the dedicated <%= link_to 'ballot list page', ballot_list_members_path %> instead.
  You can search this page from your web browser by pressing ctrl+F (cmd+F on Mac).
</p>

<table class="table table-condensed table-bordered table-hover">
  <thead>
    <%= content_tag :tr do %>
      <%= content_tag(:th, 'Full Name') %>
      <%= content_tag(:th, 'CRSid') %>
      <%= content_tag(:th, 'Contact Email') %>
      <%= content_tag(:th, 'Graduation Year') %>
      <%= content_tag(:th, 'Membership Type') %>
      <%= content_tag(:th, 'Subscription Expiry') %>
    <% end %>
  </thead>
  <tbody>
    <% @members.each_with_index do |member, idx| %>
      <% if idx != 0 && idx % 15 == 0 %>
        <tr class="alert alert-warning" role="alert">
          <td colspan="6">
            Determining voting or quoracy eligibility? Please use the dedicated
            <%= link_to 'ballot list page', ballot_list_members_path %> for that.
          </td>
        </tr>
      <% end %>
      <%= content_tag(:tr, class: ('alert alert-danger' if member.suspended? || member.banned?)) do %>
        <%= content_tag(:td, link_to(member.name, member)) %>
        <%= content_tag(:td, member.crsid) %>
        <%= content_tag(:td, member.contact_email || '-') %>
        <%= content_tag(:td, member.graduation_year) %>
        <%= content_tag(:td, member.mtype.name) %>
        <%= content_tag(:td, expiry_text(member)) %>
      <% end %>
    <% end %>
  </tbody>
</table>
