<% content_for :heading, 'Member List' %>

<p>
  This page lists pending signups and purchase data ingested from Spektrix.
  You should regularly check this page and link individuals' signups with
  their purchases. When a member is 'linked' the following things will
  happen automatically:
  <ul>
    <li>Their membership status will be updated from "Awaiting Payment" to "Ordinary
  Member".</li>
    <li>Their membership expiry date will be set if they have only purchased Annual Membership.</li>
  </ul>
  Note that you will need to manually concatenate three purchases of
  Annual Subscription into Lifetime Subscription. Neither this software
  nor Spektrix will do this automatically.
</p>

<%= form_tag link_signups_members_path, method: :post do %>
  <h5 class="mt-5">Membership System Signups</h5>
  <table class="table table-condensed table-bordered table-hover">
    <thead>
      <%= content_tag :tr do %>
        <%= content_tag(:th, 'Name') %>
        <%= content_tag(:th, 'Primary Email') %>
        <%= content_tag(:th, 'Secondary Email') %>
        <%= content_tag(:th, 'Signup Time') %>
        <%= content_tag(:th, 'Link') %>
      <% end %>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <%= content_tag :tr do %>
          <%= content_tag(:td, link_to(member.name, member)) %>
          <%= content_tag(:td, member.primary_email) %>
          <%= content_tag(:td, member.secondary_email) %>
          <%= content_tag(:td, member.try(:created_at).try(:strftime, "%d/%m/%Y %H:%M:%S")) %>
          <td>
            <label class="btn btn-secondary">
              <input type="radio" name="member" value="<%= member.id %>" id="member-<%= member.id %>"> Link
            </label>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <h5 class="mt-5">Spektrix Payments Received</h5>
  <table class="table table-condensed table-bordered table-hover">
    <thead>
      <%= content_tag :tr do %>
        <%= content_tag(:th, 'Name') %>
        <%= content_tag(:th, 'Email') %>
        <%= content_tag(:th, 'Type') %>
        <%= content_tag(:th, 'Renewed') %>
        <%= content_tag(:th, 'Purchase Time') %>
        <%= content_tag(:th, 'Expiry') %>
        <%= content_tag(:th, 'Link') %>
      <% end %>
    </thead>
    <tbody>
      <% @purchase_ingest_items.each do |item| %>
        <%= content_tag :tr do %>
          <%= content_tag(:td, item.name) %>
          <%= content_tag(:td, item.email) %>
          <%= content_tag(:td, item.mtype) %>
          <%= content_tag(:td, item.renewed?) %>
          <%= content_tag(:td, item.purchased.strftime("%d/%m/%Y %H:%M:%S")) %>
          <%= content_tag(:td, item.expires.try(:strftime, "%d/%m/%Y")) %>
          <td>
            <label class="btn btn-secondary">
              <input type="radio" name="item" value="<%= item.id %>" id="item-<%= item.id %>"> Link
            </label>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag 'Perform Link', class: 'btn btn-primary mt-2' %>
<% end %>
