<% content_for :heading, 'Member Details' %>

<p>
  <%= link_to "Members list", members_path %>
  |
  <%= link_to "Edit details", edit_member_path(@member) %>
  |
  <%= link_to 'view on Camdram', Membership::Camdram.client.base_url + "/people/by-id/#{@member.camdram_id}" %>
</p>

<% if @member.expired? %>
  <div class="alert alert-warning" role="alert">
    This person's membership has expired!
  </div>
<% elsif @member.suspended? %>
  <div class="alert alert-danger" role="alert">
    This person's membership has been suspended!
  </div>
<% elsif @member.banned? %>
  <div class="alert alert-danger" role="alert">
    This person has been banned from the club!
  </div>
<% end %>

<p>
  Based on our records, if you are attempting to contact this member then you should
  address your email to <%= @member.contact_email || 'DO_NOT_CONTACT' %>
</p>

<table class="table table-sm table-striped table-bordered">
  <tbody>
    <tr>
      <td>Name:</td>
      <td><%= @member.name %></td>
    </tr>
    <tr>
      <td>CRSid:</td>
      <td><%= @member.crsid %></td>
    </tr>
    <tr>
      <td>Camdram ID:</td>
      <td><%= @member.camdram_id %></td>
    </tr>
    <tr>
      <td>Primary Email:</td>
      <td><%= mail_to @member.primary_email %></td>
    </tr>
    <tr>
      <td>Secondary Email:</td>
      <td><%= mail_to @member.secondary_email %></td>
    </tr>
    <tr>
      <td>Institution:</td>
      <td><%= @member.institution.name %></td>
    </tr>
    <tr>
      <td>Graduation Year:</td>
      <td><%= @member.graduation_year %></td>
    </tr>
    <tr>
      <td>Membership Type:</td>
      <td><%= @member.mtype.name %></td>
    </tr>
    <tr>
      <td>Membership Expiry:</td>
      <td><%= member_expiry(@member) %></td>
    </tr>
    <tr>
      <td>Membership Card Issued:</td>
      <td><%= @member.card_issued.try(:strftime, "%d/%m/%Y") %></td>
    </tr>
  </tbody>
</table>

<details class="border rounded p-1 mb-3">
  <summary>Data from University Lookup</summary>
  <hr class="invisible my-1">
  <% if @lookup_data %>
    Cancelled = <%= @lookup_data['cancelled'] %><br>
    Staff = <%= @lookup_data['staff'] %><br>
    Student = <%= @lookup_data['student'] %><br>
    Display Name = <%= @lookup_data['displayName'] %><br>
    Registered Name = <%= @lookup_data['registeredName'] %><br>
    Visible Name = <%= @lookup_data['visibleName'] %><br>
    First Name = <%= get_lookup_attribute(@lookup_data, 'firstName') %><br>
    Surname = <%= get_lookup_attribute(@lookup_data, 'surname') %><br>
    Jackdaw Institution = <%= get_lookup_attribute(@lookup_data, 'jdInstid') %><br>
    Jackdaw College = <%= get_lookup_attribute(@lookup_data, 'jdCollege') %><br>
    MIS Affiliation = <%= get_lookup_attribute(@lookup_data, 'misAffiliation') %><br>
    Departing Email = <%= get_lookup_attribute(@lookup_data, 'departingEmail') %><br>
    Photo:<br>
      <img src="data:image/jpeg;base64,<%= get_lookup_photo(@lookup_data) %>" />
  <% else %>
    Unavailable
  <% end %>
</details>

<h4>Notes</h4>
<%= simple_format @member.notes || 'None' %>

<h4>Audit History</h4>
<% if @audit.count > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">What</th>
        <th scope="col">When</th>
        <th scope="col">Who</th>
        <th scope="col">Changes</th>
      </tr>
    </thead>
    <tbody>
      <% @audit.each do |ver| %>
        <tr>
          <td><%= ver[:event] %></td>
          <td><%= ver[:time].strftime("%d/%m/%Y %H:%M:%S") %></td>
          <td><%= ver[:user] %></td>
          <td>
            <% ver[:changeset].each do |field, change| %>
              <%= field %> changed from <%= change[0] || 'nil' %> to <%= change[1] %><br>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Unavailable</p>
<% end %>
