<% content_for :heading, 'Member Details' %>

<p>
  <%= link_to "Members list", members_path %>
  |
  <%= link_to "Edit details", edit_member_path(@member) %>
  |
  <%= link_to 'view on Camdram', Membership::Camdram.client.base_url + "/people/by-id/#{@member.camdram_id}" %>
</p>

<% if @member.expired? %>
  <div class="alert alert-warning" role="alert">
    This person's membership has expired!
  </div>
<% elsif @member.suspended? %>
  <div class="alert alert-danger" role="alert">
    This person's membership has been suspended!
  </div>
<% elsif @member.banned? %>
  <div class="alert alert-danger" role="alert">
    This person has been banned from the club!
  </div>
<% end %>

<p>
  Based on our records, if you are attempting to contact this member then you should
  address your email to <%= @member.contact_email || 'EXPIRED_EMAIL_DO_NOT_CONTACT' %>
</p>

<table class="table table-sm table-striped table-bordered mb-0">
  <tbody>
    <tr>
      <td>Name:</td>
      <td><%= @member.name %></td>
    </tr>
    <tr>
      <td>CRSid:</td>
      <td><%= @member.crsid %></td>
    </tr>
    <tr>
      <td>Camdram ID:</td>
      <td><%= @member.camdram_id %></td>
    </tr>
    <tr>
      <td>Primary Email:</td>
      <td><%= mail_to @member.primary_email %></td>
    </tr>
    <tr>
      <td>Secondary Email:</td>
      <td><%= mail_to @member.secondary_email %></td>
    </tr>
    <tr>
      <td>Institution:</td>
      <td><%= @member.institution.name %></td>
    </tr>
    <tr>
      <td>Graduation Year:</td>
      <td><%= @member.graduation_year %></td>
    </tr>
    <tr>
      <td>Membership Type:</td>
      <td><%= @member.mtype.name %></td>
    </tr>
    <tr>
      <td>Membership Expiry:</td>
      <td><%= member_expiry(@member) %></td>
    </tr>
    <tr>
      <td>Membership Card Issued:</td>
      <td><%= @member.card_issued.try(:strftime, "%d/%m/%Y") %></td>
    </tr>
  </tbody>
</table>
